{# _______________________________ #}
<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <!-- Meta data -->
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="canonical" href="{{ metadata.url | url }}">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- OG -->
    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta property="og:url" content="{{ metadata.url | url }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ metadata.image }}">

    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">

  </head>

  <body>
    <header>

      <div class="navbar shadow">
        <div class="container">
          <div class="brand">
            <a href="{{/ | url}}">
              <img src="{{ '/images/logo.png' | url }}">
            </a>
          </div>
          <nav>
            <label for="show-menu">Show Menu</label>
            <input type="checkbox" id="show-menu" role="button"/>
            <ul id="menu">
              {%- for entry in collections.all | eleventyNavigation %}
                <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
                  <a class="nav-link" href="{{ entry.url | url }}">{{ entry.title }}</a>
                </li>
              {%- endfor %}

              <li>
                <a class="btn btn-primary shadow" href="{{ '/contact.php' | url }}">Contact me</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      <section class="hero shadow" style='background-image:url({{featuredImage}});'>
        <div class="container-center">
          <h1>{{title}}</h1>
          <p>{{subtitle}}</p>
        </div>
      </section>
      {{ content | safe }}
    </main>

    <footer id="main-footer" class="py-3">
      <div class="container">
        <div class="row">
          <div class="col-md text-center">
            <h3>Feedback</h3>
            <p>Got some feedback for me?</p>
            <a class="btn btn-primary shadow" href="{{ 'contact.php' | url }}">Let me know</a>
          </div>
          <div class="col-md text-center">
            <h3>Connect with me</h3>
            <a href="https://www.facebook.com/deejpotterdesigns/">
              <i class="fab fa-facebook"></i>
            </a>
          </div>
          <div class="col-md text-center">
            <h3>Policies</h3>
            <a href="{{ 'about/privacy-policy.php' | url }}">Privacy policy</a>
            <br>
            <a href="{{ 'about/terms.php' | url }}">Terms and conditions</a>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://kit.fontawesome.com/bf89e65113.js" crossorigin="anonymous"></script>

  </body>

</html>